html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
.wrapper {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	background-color: white;
}

.wrapper .main {
	flex: 1; /*Растягивается на все простроанство по высоте*/
}

.header,
.footer {
	flex-shrink: 0; /*не будет сжиматься*/
}

body {
	color: #333333;
	font: 20px "Regular", sans-serif; /*без засечек*/
}

.header {
	background-image: url("./images/bc.jpg");
	overflow: hidden; /*Чтобы часть круга, которая вылезала скрылась!*/
}

.header__container {
	position: relative;
	max-width: 1110px;
	max-height: 591px;
	margin: auto;
	padding: 30px 0 130px 0;
}

.header__top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 0 120px 0;
}

.btn {
	border: none;
	background-color: #fb9475;
	outline: 0;
	cursor: pointer;
	color: #fff;
	font: 14px "Medium", sans-serif; /*без засечек*/
	padding: 17px 30px;
	border-radius: 24px;
	transition: 0.15s background-color;
}

.btn:hover {
	background-color: #ef8160;
	transform: scale(1.1);
}

.btn:active {
	background-color: #f3724a;
}

/*Верхняя панель*/

.header__top .logo {
	color: #333333;
	font: 24px "Bold", sans-serif; /*без засечек*/
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.navigation li:not(:last-child) {
	margin-right: 28px;
}

.navigation li a:hover {
	color: #00bf78;
	text-decoration: underline;
}

.navigation a {
	color: #333333;
	text-decoration: none;
	font: 14px "Medium", sans-serif; /*без засечек*/
}

.information {
	position: relative;
	width: 167px;
	height: 36px;
}
.phone {
	position: absolute;
	width: 100%;
	font: 18px "Medium", sans-serif; /*без засечек*/
	text-align: right;
}

.text {
	position: absolute;
	display: inline-block;
	width: 100%;
	font: 11px "Regular", sans-serif; /*без засечек*/
	text-align: right;
	padding: 22px 0 0 0;
}

/*Hero*/

.hero__title {
	font: 48px "SemiBold", sans-serif; /*без засечек*/
	font-weight: bold;
	margin: 0px 0px 16px;
	width: 50%;
}

.hero__subtitle {
	font: 20px "Regular", sans-serif; /*без засечек*/
	margin: 0px 0px 60px;
}

.btn__hero {
	width: 203px;
	height: 48px;
}

/*Hero__frame*/
.hero__frame ul {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	top: 207px;
	right: 0px;
}

.hero__frame li:not(:last-child) {
	margin-bottom: 16px;
}

.hero__frame li:hover {
	transform: scale(1.3);
}

.img {
	position: absolute;
	bottom: 0;
	right: 120px;
	z-index: 1;
}

.hero__circle {
	position: absolute;
	width: 472px;
	height: 472px;
	border-radius: 50%;
	bottom: -110px;
	right: 120px;
	background-color: #fb9475;
}

/*Main*/

.main__top {
	max-width: 1110px;
	min-height: 493px;
	margin: auto;
	padding: 100px 0;
	position: relative;
}

.main__toptitle {
	width: 42%;
}

.main__title {
	margin: 0;
	font: 48px "Bold", sans-serif; /*без засечек*/
	padding-bottom: 32px;
	font-weight: bold;
}

.main__subtitle {
	margin: 0;
	padding-bottom: 16px;
	font: 20px "Regular", sans-serif; /*без засечек*/
	line-height: 32px;
}

.main__desc {
	margin: 0;
	font: 16px "Regular", sans-serif; /*без засечек*/
	padding-bottom: 14px;
	line-height: 26px;
}

main a {
	color: #278aff;
	text-decoration: none;
	font: 14px "Regular", sans-serif; /*без засечек*/
}

main a:hover {
	color: #083b79;
}

.main__video {
	position: absolute;
	top: 100px;
	right: 0;
	width: 445px;
	height: 295px;
	border-radius: 8px;
	background-position: center;
	background-size: cover; /*полное покрытие размера своего родителя*/
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.main__video:hover .main__video-action {
	transform: scale(1.1);
}

.main__video::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #000;
	opacity: 20%;
}

.main__video-action {
	font: 16px "Medium", sans-serif;
	color: #fff;
	position: relative;
	transition: 0.4s;
	padding-top: 75px;
}

.main__video-action::before {
	content: "";
	position: absolute;
	top: 0;
	left: 31%;
	width: 62px;
	height: 62px;
	background: url("./images/iconPlay.svg");
	background-repeat: no-repeat;
}

/*Benefits*/
.main__benefits {
	max-width: 1110px;
	min-height: 176px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.main__benefits-frame {
	min-width: 350px;
}

.main__benefits-svg {
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

.main__behefits-title {
	margin: 0;
	text-align: center;
	font: 18px "SemiBold", sans-serif;
	font-weight: bold;
	padding-bottom: 12px;
}

.main__behefits-subtitle {
	margin: 0 auto;
	text-align: center;
	max-width: 263px;
	font: 14px "Regular", sans-serif;
	line-height: 22px;
}

/*Footer*/
.footer {
	font: 12px "Regular", sans-serif;
}

.footer__container {
	max-width: 1110px;
	min-height: 78px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__title span {
	display: inline-block;
	padding-bottom: 8px;
}

.footer__navigation ul {
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.footer__navigation li:not(:last-child) {
	margin-right: 28px;
}

.footer__title a {
	color: #278aff;
}

.footer__title a:hover {
	color: #083b79;
}

.footer__navigation a {
	text-decoration: none;
	color: #333333;
}

.footer__navigation a:hover {
	color: #000000;
}
